body{
  background-image: url('default.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  color: white;
  text-shadow: 2px 2px 1px black;
  font-family: serif
}

#weatherContainer{
  background-color: rgba(0,0,0,0.25);
  box-shadow: 1px 1px 5px black;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  visibility: hidden;
}

#weatherContainer h1 {
  margin: 5px;
  font-size: 42px;
  font-family: sans-serif;
}

#searchContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
}